################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AMapper/v14
/AMapper.UnitTest/bin/
/AMapper.UnitTest/obj/
/AMapper/obj/
/AMapper/bin/
